{% extends "layout.html" %}

{% set bodyId = "page-ideas" %}


{% block title %}
<title>Ideias-Casa Criativa</title>
{% endblock title %}





{% block content %}
        <header>
                 <a href="/" class="fat">
                <img src="logo.png" alt="imagem da logo marca">
                </a>
         
          
            <nav>
                <li><a href="/">Início</a></li>
                <li><a href="#" onclick=onOff()>Nova Ideia</a></li>
            </nav>
        </header>
        <section id="title">
            <p>em exibição</p>
            <h1>Ideias</h1>
    
        </section>
        
        <main>
            <section id="ideas">

                {%include "all_ideas.html"%}
                   
               </section>
        </main>
        <footer>
        
            <p id="footer">Com 💝 <a class="a_fuhr" href="https://www.instagram.com/fuhr_br/" target="_blank"> <strong>Fuhr</strong></a></a></p>
    
        </footer>

{% endblock %}
   